.cards__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

@media screen and (max-width: 995px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  }
}

@media screen and (max-width: 425px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, minmax(136px, 1fr));
    gap: 8px;
    margin: 0 auto;
  }
}